<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>美临家政</title>
    <meta name="description" content="美临家政">
    <link rel="stylesheet" type="text/css" href="./css/hongjijiazheng.css">
    <link rel="stylesheet" href="./css/lrtk.css">
    <script src="./js/jquery.min.js"></script>
    <script type="text/javascript">
        function selCity(val) {
            location.href = "/Default/Index?CurCity=" + val;
        }
    </script>
</head>
<body>
    <div class="wel">
        <ul class="wel2">
            <li>欢迎,来到美临家政！ </li>
            <li class=" tright"><a href="#" class="green"></a></li>
        </ul>
    </div>
    <div class="header">
        <div class="body top">
            <div class="logo">
                <img src="./images/logo.png">
                <div id="daohang" style="display:none;">
                    <li class="tab dropdown"><a href="#" class="tablink arwlink" id="curCity">武汉 </a>
                        <ul class="subnav">
                            <a href="javascript:void(0)" onclick="selCity(&#39;北京&#39;);" title="北京">北京</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;上海&#39;);" title="上海">上海</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;天津&#39;);" title="天津">天津</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;郑州&#39;);" title="郑州">郑州</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;武汉&#39;);" title="武汉">武汉</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;西安&#39;);" title="西安">西安</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;长沙&#39;);" title="长沙">长沙</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;成都&#39;);" title="成都">成都</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;南京&#39;);" title="南京">南京</a>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="tel">
                <img src="./images/h-tel.png">
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="body nav">
            <a href="index.html" class="navselect">首页</a> 
            <a href="order.html"> 快速下单</a> 
            <a href="service.html">服务介绍</a>
            <a href="superiority.html"> 美临优势</a>
            <a href="member.html">加入会员</a>
            <a href="news.html"> 新闻动态</a>
            <a href="job.html">美临招聘</a>
            <a href="about.html">关于我们</a>
        </div>
    </div>
    <div id="conter">
        <div class="left">
            <ul class="lef">
                <a href="about.html" class="left_hover">
                    <li id="guanyu">关于我们</li></a> <a href="about.html">
                        <li>联系我们</li></a> <a href="about.html">
                            <li>服务条款</li></a> <a href="about.html">
                                <li>用户协议</li></a> <a href="about.html">
                                    <li>隐私声明</li></a> <a href="about.html">
                                        <li>会员协议</li></a> <a href="about.html">
                                            <li>常见问题</li></a>
            </ul>
        </div>
        <div class="right" style="display: block;">
            <div class="lian">
                关于我们</div>
            <div class="nei1">
                <p>
                    武汉美临家政服务有限公司主要经营：等产品。公司尊崇“踏实、拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念，创造良好的企业环境，以全新的管理模式，完善的技术，周到的服务，卓越的品质为生存根本，我们始终坚持用户至上 用心服务于客户，坚持用自己的服务去打动客户。

                    欢迎各位新老客户来我公司参观指导工作，我公司具体的地址是：武汉市洪山区雄楚大街456号绿汀雅境4栋1单元18号 。

                    您如果对我们的产品感兴趣或者有任何的疑问，您可以直接给我们留言或直接与我们联络，我们将在收到您的信息后，会第一时间及时与您联络。
                </p>
                <p>
                    <img src="./images/6357957690636230464998272.JPG" title="DSC00490.JPG"><img
                        src="./images/6357957615822363282527254.jpg" title="鸿基梦.jpg"></p>
                <p>
                    <img src="./images/6357957692305078127101060.png" title="公司派车.png"></p>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class="footer ">
        <p>
            <a href="index.html">首页</a> | <a href="order.html">快速下单</a> | <a href="service.html">
            服务介绍</a> | <a href="superiority.html">美临优势</a> | <a href="member.html">加入会员</a>
            | <a href="news.html">新闻动态</a> | <a href="job.html">美临招聘</a> | <a href="about.html">
            关于我们</a>
        </p>
        <p>
            Copyright ◎2010-2018美临家政 版权所有
        </p>
    </div>
    <!--   </ul> -->
    <!-- 客服代码 开始 -->
    <script type="text/javascript">
        //added by simon 2008-11-04
        var eid = '218808P8z8p8P8Q8z8K8z';
        function kf_openChatWindow(flag, wpadomain, kfguin) {
            window.open('http://' + wpadomain + '.qq.com/webc.htm?new=0&sid=' + kfguin + '&eid=' + eid + '&o=&q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');
            if (flag == 1) {
                kf_hidekfpopup();
            }
            return false;
        }
        //added by simon 2008-11-04 end

</script>
    <div id="leftsead">
        <ul>
            <li><a href="javascript:void(0)" class="youhui">
                <img src="./images/l02.png" width="47" height="49" class="shows">
                <img src="./images/a.png" width="57" height="49" class="hides">
                <img src="./images/wexin.png" width="145" class="2wm" style="display: none;
                    margin: -100px 57px 0 0">
            </a></li>
            <li><a href="javascript:void(0)">
                <div class="hides" style="width: 161px; display: none;" id="qq">
                    <div class="hides" id="p1">
                        <img src="./images/l04.png">
                    </div>
                    <div class="hides" id="p2">
                        <span style="color: #FFF; font-size: 16px">QQ:315755468</span>
                    </div>
                </div>
                <img src="./images/l04.png" width="47" height="49" class="shows">
            </a></li>
            <li id="tel"><a href="javascript:void(0)">
                <div class="hides" style="width: 161px; display: none;" id="tels">
                    <div class="hides" id="p1">
                        <img src="./images/l05.png">
                    </div>
                    <div class="hides" id="p3">
                        <span style="color: #FFF; font-size: 14px">400-6993-111</span>
                    </div>
                </div>
                <img src="./images/l05.png" width="47" height="49" class="shows">
            </a></li>
            <li id="btn"><a id="top_btn">
                <div class="hides" style="width: 161px; display: none">
                    <img src="./images/ll06.png" width="161" height="49">
                </div>
                <img src="./images/l06.png" width="47" height="49" class="shows">
            </a></li>
        </ul>
    </div>
    <script>
        $(document).ready(function () {

            $("#leftsead a").hover(function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").show();
                } else {
                    $(this).children("div.hides").show();
                    $(this).children("img.shows").hide();
                    $(this).children("div.hides").animate({
                        marginRight: '0px'
                    }, '0');
                }
            }, function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").hide();
                } else {
                    $(this).children("div.hides").animate({
                        marginRight: '-163px'
                    }, 0, function () {
                        $(this).hide();
                        $(this).next("img.shows").show();
                    });
                }
            });

            $("#top_btn").click(function () {
                if (scroll == "off")
                    return;
                $("html,body").animate({
                    scrollTop: 0
                }, 600);
            });

            //右侧导航 - 二维码
            $(".youhui").mouseover(function () {
                $(this).children(".2wm").show();
            })
            $(".youhui").mouseout(function () {
                $(this).children(".2wm").hide();
            });

        });

</script>
    <!--客服代码结束-->
    <script type="text/javascript">
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }
        function leftmenu() {

            var _Order = getURLParameter("id");
            if (_Order == null) {
                _Order = 1;
            }
            _Order = _Order - 1;
            $('.lef a.left_hover').removeClass('left_hover');
            $('.lef a:eq(' + _Order + ')').addClass('left_hover');
        }
        leftmenu();
</script>
</body>
</html>
