<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>美临家政</title>
    <meta name="description" content="美临家政">
    <link rel="stylesheet" type="text/css" href="./css/hongjijiazheng.css">
    <link rel="stylesheet" href="./css/lrtk.css">
    <script src="./js/jquery.min.js"></script>
    <script type="text/javascript">
        function selCity(val) {
            location.href = "/Default/Index?CurCity=" + val;
        }
    </script>
</head>
<body>
    <div class="wel">
        <ul class="wel2">
            <li>欢迎,来到美临家政！ </li>
            <li class=" tright"><a href="#" class="green"></a></li>
        </ul>
    </div>
    <div class="header">
        <div class="body top">
            <div class="logo">
                <img src="./images/logo.png">
                <div id="daohang" style="display: none;">
                    <li class="tab dropdown"><a href="#" class="tablink arwlink" id="A1">武汉 </a>
                        <ul class="subnav">
                            <a href="javascript:void(0)" onclick="selCity(&#39;北京&#39;);" title="北京">北京</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;上海&#39;);" title="上海">上海</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;天津&#39;);" title="天津">天津</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;郑州&#39;);" title="郑州">郑州</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;武汉&#39;);" title="武汉">武汉</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;西安&#39;);" title="西安">西安</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;长沙&#39;);" title="长沙">长沙</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;成都&#39;);" title="成都">成都</a>
                            <a href="javascript:void(0)" onclick="selCity(&#39;南京&#39;);" title="南京">南京</a>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="tel">
                <img src="./images/h-tel.png">
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="body nav">
            <a href="index.html" class="navselect">首页</a> <a href="order.html">快速下单</a> <a href="service.html">
                服务介绍</a> <a href="superiority.html">美临优势</a> <a href="member.html">加入会员</a>
            <a href="news.html">新闻动态</a> <a href="job.html">美临招聘</a> <a href="about.html">关于我们</a>
        </div>
    </div>
    <div class="page_body">
        <input type="hidden" id="isLogin" name="isLogin">
        <input type="hidden" id="CurCity" name="CurCity" value="武汉">
        <input type="hidden" id="HourseID" name="HourseID" value="">
        <input type="hidden" id="UintMoney" name="UintMoney" value="30">
        <input type="hidden" id="ItemCode" name="ItemCode" value="JTQJ">
        <input type="hidden" id="ItemName" name="ItemName" value="家庭清洁">
        <div class="neworder">
            <div class="no">
                <img src="./images/no1.png">填写预约信息
            </div>
            <div class="order-form">
                <p>
                    <label>
                        服务项目：</label>
                    <strong id="item">家庭清洁</strong>
                    <button id="ngehe" onclick="OpenWin(1)" type="button">
                        修改</button>
                </p>
                <p>
                    <label>
                        服务价格：</label>
                    <a class="clearfix block" target="_blank" id="PriceHref" href="http://www.hongjimeng.net/App/SortContent/ItemInfo?ItemCode=JTQJ&amp;City=%E6%AD%A6%E6%B1%89">
                        <span id="itemprice" class=" c-666">每人每小时30元</span></a>
                </p>
                <p id="dttype" style="display: none;">
                    <label>
                        地毯类型：</label>
                    <select name="isshang" id="isshang">
                        <option value="0">家用地毯</option>
                        <option value="1">商用地毯</option>
                    </select>
                </p>
                <p id="timeSelectBox">
                    <label>
                        服务日期：</label>
                    <select name="servicedate" id="servicedate">
                        <option value="-1">请选择日期</option>
                        <option value="2016年3月14日">2016年3月14日</option>
                        <option value="2016年3月15日">2016年3月15日</option>
                        <option value="2016年3月16日">2016年3月16日</option>
                        <option value="2016年3月17日">2016年3月17日</option>
                        <option value="2016年3月18日">2016年3月18日</option>
                        <option value="2016年3月19日">2016年3月19日</option>
                        <option value="2016年3月20日">2016年3月20日</option>
                        <option value="2016年3月21日">2016年3月21日</option>
                        <option value="2016年3月22日">2016年3月22日</option>
                        <option value="2016年3月23日">2016年3月23日</option>
                        <option value="2016年3月24日">2016年3月24日</option>
                        <option value="2016年3月25日">2016年3月25日</option>
                        <option value="2016年3月26日">2016年3月26日</option>
                        <option value="2016年3月27日">2016年3月27日</option>
                        <option value="2016年3月28日">2016年3月28日</option>
                    </select>
                    <select name="servicetime" id="servicetime">
                        <option value="-1">选择时间</option>
                        <option value="8">08:00</option>
                        <option value="9">09:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                    </select>
                </p>
                <p id="yyarea">
                    <label id="yyareaLabel">
                        预约小时：</label>
                    <span class="inline js-group">
                        <button class="btn js-minusCount" type="button" onclick="del(&#39;homearea&#39;,1)">
                            <i class="icon icon-base icon-minus"></i>
                        </button>
                        <input type="text" class="btn input-number" value="1" name="homearea" id="homearea"
                            onkeyup="this.value=this.value.replace(/\D/g,&#39;&#39;)" onafterpaste="this.value=this.value.replace(/\D/g,&#39;&#39;)">
                        <button class="btn js-plusCount" type="button" onclick="add(&#39;homearea&#39;, &#39;maxuint&#39;)">
                            <i class="icon icon-base icon-plus"></i>
                        </button>
                    </span><span id="uint">平方</span>
                    <input type="hidden" id="maxuint" name="maxuint" value="6">
                </p>
                <p id="yynum">
                    <label>
                        预约人数：</label>
                    <span class="inline js-group">
                        <button class="btn js-minusCount" type="button" onclick="del(&#39;usernum&#39;, 1)">
                            <i class="icon icon-base icon-minus"></i>
                        </button>
                        <input type="text" class="btn input-number" value="1" name="usernum" id="usernum"
                            onkeyup="this.value=this.value.replace(/\D/g,&#39;&#39;)" onafterpaste="this.value=this.value.replace(/\D/g,&#39;&#39;)">
                        <button class="btn js-plusCount" type="button" onclick="add(&#39;usernum&#39;)">
                            <i class="icon icon-base icon-plus"></i>
                        </button>
                    </span><span>人</span>
                </p>
                <p>
                    <label>
                        附加工具：</label>
                    <span id="ordertool"><span>
                        <input type="checkbox" name="IsTiZi" id="IsTiZi" value="1">
                        <span class="itemcolor">小梯子(+30)/次</span>
                        <input type="checkbox" name="IsQingJieJi" id="IsQingJieJi" value="1">
                        <span class="itemcolor">清洁剂(+0)/次</span>
                        <input type="checkbox" name="IsXiChen" id="IsXiChen" value="1">
                        <span class="itemcolor">吸尘器(+30)/次</span> </span></span>
                </p>
                <p>
                    <label>
                        联系人：</label>
                    <input class="no-padding  input long380" type="text" placeholder="联系人姓名" name="ContentName"
                        id="ContentName">
                </p>
                <p>
                    <label>
                        服务地址：</label>
                    <select id="canton" name="canton">
                        <option value="-1">请选择区域</option>
                        <option value="徐东区">徐东区</option>
                        <option value="江岸区">江岸区</option>
                        <option value="江汉区">江汉区</option>
                        <option value="桥口区">桥口区</option>
                        <option value="汉阳区">汉阳区</option>
                        <option value="武昌区">武昌区</option>
                        <option value="青山区">青山区</option>
                        <option value="洪山区">洪山区</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a class="text-info" href="javascript:void(0);" onclick="OpenWin(3)"
                        id="cityBtn" name="cityBtn">武汉</a>
                </p>
                <p>
                    <label>
                        详细地址：</label>
                    <input class="input long380" placeholder="不用重复填写城市和区域" id="street" name="street">
                </p>
                <p>
                    <label>
                        更多需求：</label>
                    <textarea rows="4" cols="38.99" placeholder="您的其他需求,没有可不填" name="remark" id="remark"></textarea>
                </p>
            </div>
            <div class="no">
                <img src="./images/no2.png">填写登录信息
            </div>
            <div class="order-form">
                <p>
                    <label>
                        手机号码：</label>
                    <input type="tel" class="input long380" placeholder="请输入手机号" id="Tel" name="Tel"
                        required="">
                    &nbsp;
                    <button type="button" id="BtnGetCode" name="BtnGetCode" onclick="    _GetCode(this);">
                        获取验证码
                    </button>
                </p>
                <p>
                    <label>
                        验证码：</label>
                    <input type="tel" class="input-block input long380" placeholder="请输入手机验证码" id="Code"
                        name="Code" required="">
                </p>
                <p style="font-size: 14px;">
                    <label>
                        &nbsp;</label>点击“立即预约”，即表示同意<a href="about.html"
                            class="green">《美临家政用户协议》</a>
                </p>
            </div>
            <div class="order-form">
                <p>
                    <label>
                        &nbsp;</label>
                    <input type="submit" value="立即预约" class="btndl mt50" id="submit" onclick=" return  _HeDui();">
                </p>
            </div>
        </div>
        <input type="hidden" id="spdCode_selected" value="zdg">
        <input type="hidden" id="spdId_selected" value="3">
        <input type="hidden" id="error" value="">
    </div>
    <div class="footer ">
        <p>
            <a href="index.html">首页</a> | <a href="order.html">快速下单</a> | <a href="service.html">
                服务介绍</a> | <a href="superiority.html">美临优势</a> | <a href="member.html">加入会员</a>
            | <a href="news.html">新闻动态</a> | <a href="job.html">美临招聘</a> | <a href="about.html">
                关于我们</a>
        </p>
        <p>
            Copyright ◎2010-2018美临家政 版权所有
        </p>
    </div>
    <!-- 客服代码 开始 -->
    <script type="text/javascript">
        //added by blank 2016-3-13
        var eid = '218808P8z8p8P8Q8z8K8z';
        function kf_openChatWindow(flag, wpadomain, kfguin) {
            window.open('http://' + wpadomain + '.qq.com/webc.htm?new=0&sid=' + kfguin + '&eid=' + eid + '&o=&q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');
            if (flag == 1) {
                kf_hidekfpopup();
            }
            return false;
        }
        //added by blank 2016-3-13 end

</script>
    <div id="leftsead">
        <ul>
            <li><a href="javascript:void(0)" class="youhui">
                <img src="./images/l02.png" width="47" height="49" class="shows">
                <img src="./images/a.png" width="57" height="49" class="hides">
                <img src="./images/wexin.png" width="145" class="2wm" style="display: none; margin: -100px 57px 0 0">
            </a></li>
            <li><a href="javascript:void(0)">
                <div class="hides" style="width: 161px; display: none;" id="qq">
                    <div class="hides" id="p1">
                        <img src="./images/l04.png">
                    </div>
                    <div class="hides" id="p2">
                        <span style="color: #FFF; font-size: 16px">QQ:315755468</span>
                    </div>
                </div>
                <img src="./images/l04.png" width="47" height="49" class="shows">
            </a></li>
            <li id="Li1"><a href="javascript:void(0)">
                <div class="hides" style="width: 161px; display: none;" id="tels">
                    <div class="hides" id="p1">
                        <img src="./images/l05.png">
                    </div>
                    <div class="hides" id="p3">
                        <span style="color: #FFF; font-size: 14px">400-6993-111</span>
                    </div>
                </div>
                <img src="./images/l05.png" width="47" height="49" class="shows">
            </a></li>
            <li id="btn"><a id="top_btn">
                <div class="hides" style="width: 161px; margin-right: -163px; display: none;">
                    <img src="./images/ll06.png" width="161" height="49">
                </div>
                <img src="./images/l06.png" width="47" height="49" class="shows" style="display: block;">
            </a></li>
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#leftsead a").hover(function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").show();
                } else {
                    $(this).children("div.hides").show();
                    $(this).children("img.shows").hide();
                    $(this).children("div.hides").animate({
                        marginRight: '0px'
                    }, '0');
                }
            }, function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").hide();
                } else {
                    $(this).children("div.hides").animate({
                        marginRight: '-163px'
                    }, 0, function () {
                        $(this).hide();
                        $(this).next("img.shows").show();
                    });
                }
            });

            $("#top_btn").click(function () {
                if (scroll == "off")
                    return;
                $("html,body").animate({
                    scrollTop: 0
                }, 600);
            });

            //右侧导航 - 二维码
            $(".youhui").mouseover(function () {
                $(this).children(".2wm").show();
            })
            $(".youhui").mouseout(function () {
                $(this).children(".2wm").hide();
            });

        });

</script>
    <!--客服代码结束-->
    <div class="log js-log" id="citylist" style="display: none;">
        <div class="log-inbox" style="top: 15%; left: 40%; right: 40%;">
            <div class="log-main">
                <div class="log-title">
                    <em>选择服务城市</em><a class="log-close js-close" href="javascript:void(0);" onclick="CloseWin(3)">关闭</a>
                </div>
                <div class="log-page">
                    <div class="classify-small">
                        <button class="btn js-city" type="button" onclick="WinSelectCity(&#39;武汉&#39;);">
                            武汉</button>
                    </div>
                </div>
            </div>
            <div class="log-border">
            </div>
        </div>
    </div>
    <div class="log js-log" id="addresslist" style="display: none;">
        <div class="log-inbox">
            <div class="log-main">
                <div class="log-title">
                    <em>选择地址</em><a class="log-close js-close" href="javascript:void(0);" onclick="CloseWin(2)">关闭</a>
                </div>
                <div class="log-page">
                </div>
            </div>
            <div class="log-border">
            </div>
        </div>
    </div>
    <div class="log js-log" id="itemlist" style="display: none;">
        <div class="log-inbox" style="top: 15%; left: 20%; right: 20%;">
            <div class="log-main" id="itemlist">
                <div class="log-title">
                    <em>选择服务项目</em><a class="log-close js-close" href="javascript:void(0);" onclick="CloseWin(1)">关闭</a>
                </div>
                <div class="log-page">
                    <div class="fw_body">
                        <dl>
                            <dd onclick="chengeItem(&#39;JTQJ&#39;, &#39;家庭清洁&#39;);">
                                <img src="./images/icon1.png">
                                <p>
                                    家庭清洁
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;KFQJ&#39;, &#39;空房清洁&#39;);">
                                <img src="./images/icon2.png">
                                <p>
                                    空房清洁
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;KHQJ&#39;, &#39;开荒清洁&#39;);">
                                <img src="./images/icon3.png">
                                <p>
                                    开荒清洁
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;CBL&#39;, &#39;擦玻璃&#39;);">
                                <img src="./images/icon4.png">
                                <p>
                                    擦玻璃
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;DBBY&#39;, &#39;地板保养&#39;);">
                                <img src="./images/icon5.png">
                                <p>
                                    地板保养
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;DTQX&#39;, &#39;地毯清洗&#39;);">
                                <img src="./images/icon6.png">
                                <p>
                                    地毯清洗
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;SFQX&#39;, &#39;沙发清洗&#39;);">
                                <img src="./images/icon7.png">
                                <p>
                                    沙发清洗
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;CLQX&#39;, &#39;窗帘清洗&#39;);">
                                <img src="./images/icon8.png">
                                <p>
                                    窗帘清洗
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;JJBY&#39;, &#39;家具保养&#39;);">
                                <img src="./images/icon9.png">
                                <p>
                                    家具保养
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;CFBY&#39;, &#39;厨房保养&#39;);">
                                <img src="./images/icon10.png">
                                <p>
                                    厨房保养
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;WSJ&#39;, &#39;卫生间保养&#39;);">
                                <img src="./images/icon11.png">
                                <p>
                                    卫生间保养
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;YYJ&#39;, &#39;油烟机清洗&#39;);">
                                <img src="./images/icon12.png">
                                <p>
                                    油烟机清洗
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;GDST&#39;, &#39;管道疏通&#39;);">
                                <img src="./images/icon13.png">
                                <p>
                                    管道疏通
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;KTWX&#39;, &#39;空调清洗&#39;);">
                                <img src="./images/icon14.png">
                                <p>
                                    空调清洗
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                            <dd onclick="chengeItem(&#39;SCAZ&#39;, &#39;纱窗更换&#39;);">
                                <img src="./images/icon15.png">
                                <p>
                                    纱窗更换
                                </p>
                                <i>
                                    <img src="./images/iconyes.png"></i>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="log-border">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function CloseWin(istype) {
            if (istype == 1) {//关闭服务项目列表
                $("#itemlist").hide();
            } else if (istype == 2) {//关闭地址列表
                $("#addresslist").hide();
            } else if (istype == 3) {//关闭地址列表
                $("#citylist").hide();
            }
        }
        function OpenWin(istype) {

            if (istype == 1) {//显示服务项目列表
                $("#itemlist").show();
            } else if (istype == 2) {//显示地址列表
                $("#addresslist").show();
            } else if (istype == 3) {//显示地址列表
                $("#citylist").show();
            }


        }
        function WinSelect(homeId, city, address) {
            setAddress(homeId, city + address); //给地址赋值
            //$('#footer ul li.active').removeClass('active');
            //$('#footer ul li:eq(' + _Order + ')').addClass('active');
            $("#log_city").hide();
            CloseWin(2);
        }

        function setAddress(Id, address) {
            $("#cityBtn").html(address);
            $("#HourseID").val(Id);
            $("#allAddress").val(address);
            getPrice($("#ItemCode").val());
        }
        function WinSelectCity(city) {
            $("#cityBtn").html(city);
            $("#CurCity").val(city);
            getArea(city);
            getPrice($("#ItemCode").val());
            CloseWin(3);
        }
        function getArea(CurCity) {
            $.post("/WeiXin/Me/getArea", { CurCity: CurCity }, function (result) {
                var json = eval('(' + result + ')');
                if (json.success) {
                    $("#canton option").remove();
                    //$("#canton").append("<option value='-1'>请选择区域</option>");
                    var data = json.jsondata;
                    if (data.lenght != 0) {
                        $(data).each(function (index, obj) {
                            $("#canton").append("<option value='" + obj.txt + "'>" + obj.txt + "</option>");
                        });
                    }

                }
            });
        }

        </script>
    <script>

        function chengeItem(itemcode, itemname) {
            //价格详情链接拼接
            var city = $("#CurCity").val();

            if (!itemcode) {
                itemcode = 'JTQJ';
                itemname = '家庭清洁';
            }
            $("#PriceHref").attr('href', '/App/SortContent/ItemInfo?ItemCode=' + itemcode + '&City=' + city);
            getAreaLabel(itemcode)

            $("#item").html(itemname);
            $("#ItemCode").val(itemcode);
            $("#ItemName").val(itemname);
            getPrice(itemcode);
            CloseWin(1);
        }
        function getPrice(itemcode) {
            $.post("/WeiXin/Default/getPrice", { ItemCode: itemcode, city: $("#CurCity").val(), hid: $("#HourseID").val() }, function (result) {
                //加载价格  单位
                var json = eval('(' + result + ')');
                if (json.UintShow) {
                    $("#UintMoney").val(json.UintMoney);
                    $("#itemprice").html(json.UintShow);
                    $("#uint").html(json.Uint);
                    $("#maxuint").val(json.UnitMax);
                    $('#max').html("最高 " + json.UnitMax + json.Uint);
                    if (itemcode == 'JTQJ') {
                        //$("#maxhs").val(json.UnitMax);
                        $('#maxtime').html("最高 " + json.UnitMax + json.Uint);
                    } else {
                        //$("#maxhs").val(0);
                        $('#maxtime').html('');
                    }
                    if (json.itemtype == 'QJL') {//清洁类的显示  人数
                        $("#yynum").show();
                    } else {
                        $("#yynum").hide();
                    }
                } else {
                    alert("未获取价格信息");
                }

                //加载工具
                var tools = eval('(' + json.JsonData + ')');
                if (tools.length != null) {
                    var str = '<span>';
                    $(tools).each(function (index, t) {
                        str = str + '<input type="checkbox" name="' + t.Id + '" id="' + t.Id + '" value="1" /> <span class="itemcolor">' + t.Text + '</span> ';
                    });
                    $("#ordertool").html(str + "</span>");
                }
            });
        }
        chengeItem(request('typecode'), unescape(request('typename')));
        function request(paras) {
            var url = location.href;
            var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
            var paraObj = {}
            for (i = 0; j = paraString[i]; i++) {
                paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
            }
            var returnValue = paraObj[paras.toLowerCase()];
            if (typeof (returnValue) == "undefined") {
                return "";
            } else {
                return returnValue;
            }

        }
        //更换单位
        function getAreaLabel(itemtype) {
            var strName = "预约小时"

            if (itemtype != 'DTQX') {//地毯清洗 选项
                $("#dttype").hide();
            } else {
                $("#dttype").show();
            }

            if (itemtype == 'CLQX') {//窗帘清洗
                strName = "预约斤数";
            } else if (itemtype == 'CFBY' || itemtype == 'SFQX') {//厨房保养 沙发清洗
                strName = "预约套数";
            } else if (itemtype == 'WSJ') {//卫生间
                strName = "预约间数";
            } else if (itemtype == 'YYJ' || itemtype == 'KTWX') {//油烟机 空调清洗
                strName = "预约台数";
            } else if (itemtype == 'SCAZ') {//擦玻璃
                strName = "玻璃扇数";
            } else if (itemtype == 'DBBY' || itemtype == 'JJBY' || itemtype == 'CBL') {//地板保养
                strName = "预约面积";
            } else if (itemtype == 'DTQX') {//地毯清洗
                strName = "地毯面积";
            } else if (itemtype == 'QT') {//其它
                strName = "预约份数";
            } else if (itemtype == 'GDST') {//管道疏通
                strName = "预约次数";
            }
            if (itemtype == 'JTQJ' || itemtype == 'KFQJ' || itemtype == 'KHQJ') {//其它
                $("#homearea").val(3);
                $("#minuint").val(3);
            } else {
                $("#homearea").val(1);
                $("#minuint").val(1);
            }
            $("#yyareaLabel").html(strName + "：");
        }

        </script>
    <link rel="stylesheet" href="./css/baze.modal.css">
    <script type="text/javascript">
        function add(docname, maxname) {
            var val = $("#" + docname + "").val();
            var max = $("#" + maxname).val();
            if (max != 0 && parseInt(max) <= parseInt(val)) {
                $("#" + docname + "").val(max);
                return false;
            }
            $("#" + docname + "").val(++val);
            return;

        }
        function del(docname, min) {
            var val = $("#" + docname + "").val();
            if (val != min) {
                --val;
            }
            $("#" + docname + "").val(val);
            return;
        }




        //验证码
        var _Code;
        function _GetCode(s) {
            var tel = $('#Tel').val();
            if (tel == '') { alert('请输入您的手机号码！'); return false; }
            var myreg = /^0?1[3|4|5|8][0-9]\d{8}$/;
            if (!myreg.test(tel)) {
                alert('请输入正确的手机号码！'); return false;
            }
            $.post("/App/Public/GetMobileCode", { Tel: tel, Type: 1 }, function (result) {
                var json = eval('(' + result + ')');
                if (json.success) {
                    s.setAttribute("disabled", true);
                    _Code = json.jsondata.Code;

                    time(s);

                } else {
                    alert(json.msg);
                    $("#BtnGetCode").attr("disabled", false);
                    $("#yzm").focus();
                }

            });

        }
        var wait = 120;
        function time(btn) {

            if (wait == 0) {
                btn.removeAttribute("disabled");
                $('#BtnGetCode').html("获取验证码");
                wait = 60;
            } else {
                btn.setAttribute("disabled", true);
                $('#BtnGetCode').html(wait + "秒后再获取");
                wait--;
                setTimeout(function () {
                    time(btn);
                }, 1000);
            }
        }
        function _HeDui() {


            //获取值
            var ContentName = null;
            if ($("#ContentName")) {
                ContentName = $("#ContentName").val();
            }
            var Phone = $("#Tel").val();
            var City = $("#CurCity").val();
            var UserNum = $("#usernum").val();


            var AllAddress = $("#allAddress").val();
            if (AllAddress) {
                Address = AllAddress;
            }
            var ItemCode = $("#ItemCode").val();
            var ItemName = $("#ItemName").val();
            var PlanHours = $("#homearea").val();
            var PlanUnit = $("#uint").html();
            var ServiceDay = $("select[name=servicedate] option").not(function () { return !this.selected }).val();
            if (ServiceDay == "-1") { alert('请选择服务日期！'); return false; }
            var Servicetime = $("select[name=servicetime] option").not(function () { return !this.selected }).val();
            if (Servicetime == "-1") { alert('请选择服务时间！'); return false; }
            var ItemName = $("#ItemName").val();
            var ItemName = $("#ItemName").val();
            var HourseID = $("#HourseID").val();
            var Price = $("#UintMoney").val();
            var Remark = $("#remark").val();
            var IsShang = 0;
            if ($("#isshang")) {
                IsShang = $("select[name=isshang] option").not(function () { return !this.selected }).val();
            }
            var IsTiZi = 0;
            if ($('#IsTiZi').is(":checked")) {
                IsTiZi = 1;
            }
            var IsQingJieJi = 0;
            if ($("#IsQingJieJi").is(":checked")) {
                IsQingJieJi = 1;
            }
            var IsXiChen = 0;
            if ($("#IsXiChen").is(":checked")) {
                IsXiChen = 1;
            }

            var Area = $("select[name=canton] option").not(function () { return !this.selected }).val();
            var Address = $("#street").val();

            if ($('#isLogin').val() == false) {
                if (!ContentName) { alert('请输入联系人姓名！'); return false; }
                if (Area == "-1") { alert('请选择区域！'); return false; }
                if (!Address) { alert('请输入详细地址！'); return false; }
                var tel = $('#Tel').val();
                if (tel == '') { alert('请输入您的手机号码！'); return false; }
                var myreg = /^0?1[3|4|5|8][0-9]\d{8}$/;
                if (!myreg.test(tel)) {
                    alert('请输入正确的手机号码！'); return false;
                }
                if ($('#Code').val() == '') { alert('请输入获取到的验证码！'); return false; }
                if (_Code != $('#Code').val()) { alert('输入的验证不正确！'); return false; }


            }
            //创建订单
            $.post("/NewOrder/CreateOrder", {
                Phone: Phone,
                ContentName: ContentName,
                City: City,
                Area: Area,
                Address: Address,
                ItemCode: ItemCode,
                ItemName: ItemName,
                PlanHours: PlanHours,
                PlanUnit: PlanUnit,
                UserNum: UserNum,
                ServiceDay: ServiceDay,
                Servicetime: Servicetime,
                Price: Price,
                HourseID: HourseID,
                Remark: Remark,
                IsShang: IsShang,
                IsTiZi: IsTiZi,
                IsQingJieJi: IsQingJieJi,
                IsXiChen: IsXiChen
            }, function (result) {
                var json = eval('(' + result + ')');
                if (json.success) {
                    //window.location.href = "/NewOrder/OrderQueRen";
                    alert("信息提交中！");

                }
            });
        }

</script>
</body>
</html>
